@import "./partials/config";
@import "./partials/fonts";
@import "./partials/reset";


body {
    font-family: var(--font-family-sans-serif);
}

header {
    position: fixed;
    width: 100%;
}


// Utility classes
@import "./partials/tokens";

//Block classes
@import "./partials/menu";