//Config file for gorko
@import "./config/config";

//Gorko importer for design tokens
@import "./../../node_modules/gorko/gorko";

// Reset file
@import "./config/reset";
@import "./config/fonts";

//Global styles

body {
    font-family: var(--sans-serif);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}




// Utilities
@import "./utilities/wrappers";
@import "./utilities/grids";
@import "./utilities/flex";
@import "./utilities/flows";
@import "./utilities/text-shadows";
@import "./utilities/underlines";
@import "./utilities/various-text";
@import "./utilities/animations";
@import "./utilities/absolute-links";
@import "./utilities/images";

//Blocks
@import "./blocks/menu";
@import "./blocks/section-head";
@import "./blocks/cards";
@import "./blocks/punchline";
@import "./blocks/footer";

div>div:only-child {
    outline: 5px solid green;
}

div>div>div:only-child {
    outline: 10px solid yellow;
}

div>div>div>div:only-child {
    outline: 15px solid orange;
}

div>div>div>div>div:only-child {
    outline: 20px solid red;
}