[submodule "basgrospoing/kirby"]
	path = basgrospoing/kirby
	url = https://github.com/getkirby/kirby
[submodule "basgrospoing/site/plugins/editor"]
	path = basgrospoing/site/plugins/editor
	url = https://github.com/getkirby/editor.git
[submodule "basgrospoing/site/plugins/kirby3-feed"]
	path = basgrospoing/site/plugins/kirby3-feed
	url = https://github.com/bnomei/kirby3-feed.git
[submodule "basgrospoing/site/plugins/kirby-embed"]
	path = basgrospoing/site/plugins/embed
	url = https://github.com/sylvainjule/kirby-embed.git
