# System files
# ------------
._*
Icon
.DS_Store
._.DS_Store

# Dev folders
# ---------------
/node_modules
/node-modules/*
/.vscode

# Temporary files
# ---------------

/www/media/*
/www/livid/media/*
!/www/media/index.html
!/www/livid/media/index.html

# Content files
# ---------------

# /www/old-content
# /www/old-content/*
# /www/livid/content
# /www/livid/content/*
# /www/content_original
# /www/content_original/*

# Content files
# ---------------
# /www/files
# /www/files/*

# Kirby master
# /www/kirby
# /www/kirby/*


# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

.cache
/www/site/cache/
/www/site/cache/*
!/www/site/cache/index.html
!/www/livid/site/cache/index.html

# Accounts
# ---------------

/www/site/accounts/*
!/www/site/accounts/index.html
/www/livid/site/accounts/*
!/www/livid/site/accounts/index.html

# Sessions
# ---------------

/www/site/sessions/*
!/www/site/sessions/index.html

# License
# ---------------
/www/site/config/.license
