.card--podcast {
    height: 522px;
    a:hover {
        .card__title {
            opacity: 0;
            transition: 0.4s;
        }
        .green-bg::after {
            display: block;
        }
        .white-bg--tall::after {
            display: none;
            background-image: none;
            transition: 5s;
        }
        .green-bg::after {
            display: block;
        }
    }
    
}



