header {
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 40px 0;
    top: 0;
    z-index: 10;
    transition: 0.4s;
}

header:before {
    height: 80px;
    width: 100%;
    margin: -60px auto;
    z-index: -1;
    position: fixed;
    content: "";
     background-color:rgba(255,255,255, 0.6);
}

@supports (backdrop-filter: blur(10px)) {
    header:before {
        backdrop-filter: blur(10px);
        background-color:transparent;
    }
}