 .black-bg::after {
        display: block;
        position: absolute;
        background-image: linear-gradient(to bottom, transparent 0%, var(--bgp-hero-bg, #000000) 100%);
        height: 100%;
        width: 100%;
        content: '';
        bottom: 0;
}