:root {
  --site-width: 980px;
  --article-width: 690px;
  --podcast-width: 580px;
  --article-width-large: 790px;
  --bgp-gap: 0.7%;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI","Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}