@font-face {
	font-family: 'Futura';
	src: url('assets/fonts/FuturaStd-ExtraBold.woff2') format('woff2'),
		url('assets/fonts/FuturaStd-ExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura-bold-oblique';
	src: url('assets/fonts/FuturaStd-ExtraBoldOblique.woff2') format('woff2'),
		url('assets/fonts/FuturaStd-ExtraBoldOblique.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura-Light';
	src: url('assets/fonts/FuturaStd-Light.woff2') format('woff2'),
		url('assets/fonts/FuturaStd-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BauerBodoniStd-Italic';
	src: url('assets/fonts/BauerBodoniStd-Italic.woff2') format('woff2'),
		url('assets/fonts/BauerBodoniStd-Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura-light-oblique';
	src: url('assets/fonts/FuturaStd-LightOblique.woff2') format('woff2'),
		url('assets/fonts/FuturaStd-LightOblique.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FuturaStd-Medium';
	src: url('assets/fonts/FuturaStd-Medium.woff2') format('woff2'),
		url('assets/fonts/FuturaStd-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FuturaStd-MediumOblique';
	src: url('assets/fonts/FuturaStd-MediumOblique.woff2') format('woff2'),
		url('assets/fonts/FuturaStd-MediumOblique.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}