// Background color tokens

.bg-pink {
    background-color: var(--bgp-pink);
}

.bg-green {
    background-color: var(--bgp-green);
}

.bg-yellow {
    background-color: var(--bgp-yellow);
}

.bg-black {
    background-color: var(--bgp-black);
}

.bg-white {
    background-color: var(--bgp-white);
}

// Text color tokens

.color-pink {
    color: var(--bgp-pink);
}

.color-green {
    color: var(--bgp-green);
}

.color-yellow {
    color: var(--bgp-yellow);
}

.color-black {
    color: var(--bgp-black);
}

.color-white {
    color: var(--bgp-white);
}

// Underline color tokens

.underline-pink {
    text-decoration-color: var(--bgp-pink);
}

.underline-green {
    text-decoration-color: var(--bgp-green);
}

.underline-yellow {
    text-decoration-color: var(--bgp-yellow);
}

.underline-black {
    text-decoration-color: var(--bgp-black);
}

.underline-white {
    text-decoration-color: var(--bgp-white);
}

// text shadow tokens

.text-shadow-pink-sm {
    text-shadow: var(--text-shadow-height-sm) var(--text-shadow-height-sm) 0px var(--bgp-pink);
}

.text-shadow-pink-xs {
    text-shadow: var(--text-shadow-height-xs) var(--text-shadow-height-xs) 0px var(--bgp-pink);
}

.text-shadow-green-sm {
    text-shadow: var(--text-shadow-height-sm) var(--text-shadow-height-sm) 0px var(--bgp-green);
}

.text-shadow-green-xs {
    text-shadow: var(--text-shadow-height-xs) var(--text-shadow-height-xs) 0px var(--bgp-green);
}

.text-shadow-yellow-sm {
    text-shadow: var(--text-shadow-height-sm) var(--text-shadow-height-sm) 0px var(--bgp-yellow);
}

.text-shadow-yellow-xs {
    text-shadow: var(--text-shadow-height-xs) var(--text-shadow-height-xs) 0px var(--bgp-yellow);
}

// Filter token

.filter-grey {
    filter: var(--filter-grey);
}

// Mixblend token

.mix-blend-overlay {
    mix-blend-mode: overlay;
}


// Text tokens

.text-uppercase {
    text-transform: uppercase;
}

.text-inline {
    display: inline;
}

.text-decoration-none {
    text-decoration: none;
    ;
}

.text-bold {
    font-weight: 700;
}

.text-extra-bold {
    font-weight: 900;
}

.text-italic {
    font-style: italic;
}

// Font family tokens

.font-futura-light {
    font-family: "Futura-Light", ;
}

.font-futura-bold-italic {
    font-family: "Futura-bold-oblique";
}

.font-weight-xl {
    font-weight: var(--font-weight-xl);
}


// Margin tokens

.margin-0 {
    margin: 0;
}

.margin-auto {
    margin: auto;
}


// padding tokens

.padding-0 {
    padding: 0;
}


// containers tokens

.main-container {
    max-width: var(--main-container);
}

.menu-container {
    height: var(--menu-height);
}

// flex tokens 

.flex {
    display: flex;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-align-center {
    align-items: center;
}

// Height and width

.height-100 {
    height: 100%;
}


// Transitions tokens

.transition-025 {
    transition: 0.25s;
}

// Animations tokens

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}